<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>View Jabatan</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
		<br>
	<h3>Jabatan</h3>
	<br>
    <div class="container-fluid">
		<table id="table_id" class="display">
			<thead>
				<tr>
					<th>Nama</th>
					<th>Deskripsi</th>
					<th>Gaji Pokok</th>
				</tr>
			</thead>
				<tbody>
					<tr th:each="jabatan : ${listAll}">
						<td th:text="${jabatan.nama}"></td>
						<td th:text="${jabatan.deskripsi}"></td>
						<td th:text="${jabatan.gajiPokok}"></td>
					</tr>
				</tbody>
		</table>
   </div>

</body>
<script type="text/javascript" charset="utf8" src="/js/datatables.js"></script>
	<script>
		$(document).ready( function () {
    		$('#table_id').DataTable();
		} );
	</script>
</html>